<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
      integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand"
          ><i class="fas fa-code me-2"></i>Book Store</a
        >
        <button
          class="navbar-toggler"
          data-bs-target="#my-nav"
          data-bs-toggle="collapse"
          aria-controls="my-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="my-nav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active me-4">
              <a href="/" class="nav-link"
                ><i class="fas fa-home me-1"></i>Home</a
              >
            </li>
            <li class="nav-item active me-4">
              <a href="/add" class="nav-link"
                ><i class="fas fa-book me-1"></i>Add Book</a
              >
            </li>
            <li class="nav-item active me-4">
              <a href="#" class="nav-link"
                ><i class="fas fa-globe me-1"></i>About</a
              >
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link"
                ><i class="fas fa-envelope me-1"></i>Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>